server:
  port: 8071

spring:
  application:
    name: inventory-service

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:inventory_service
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

springdoc:
  show-actuator: true